.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--color-bg-dark);
	border-bottom: 1px solid var(--color-black);
	padding: 0px 20px;
}

.mode {
	background-color: transparent;
	font-size: 1.3rem;
	margin: 0.5rem;
	color: var(--color-text);
	transition: all 150ms ease-out;
}

.mode:hover {
	transform: scale(1.2);
	color: var(--color-accent);
}

.menus {
	display: flex;
}

.menu {
	background-color: inherit;
	font-size: 1.3rem;
	margin: 0.5rem;
	text-transform: capitalize;
	font-weight: bold;
	color: var(--color-accent);
	opacity: 0.85;
	filter: brightness(115%);
}

.menu:hover,
.menu.cur:hover {
	transform: scale(1.2);
	opacity: 1.5;
}

.menu.cur::after {
	content: "";
	display: block;
	margin-top: 0.2rem;
	border: 1px solid var(--color-text);
}
